.container{
    border: 1px solid #D0D5DD;
    border-radius: 20px;
    width: 66%;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    /*margin: 1rem;*/
    border-bottom: 1px solid #D0D5DD;
}
.midSection{
    margin: 2rem 1rem 1rem 1rem;
    border-bottom: 1px solid #D0D5DD;
}
.buttonCalendar{
    display: flex;
    justify-items: right;
    align-items: center;
    margin-right: 1.5rem;
}
.buttonDetails{
    justify-items: right;
}
.bottomSection{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}
.mainIcon{
    width: 4rem;
    height: 4rem;
    margin-right: 0.75rem
}
.info{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.info{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1.5rem;
    justify-content: space-between;
}
.tableContainer{
    /*border: 1px solid #D0D5DD;*/
    /*border-radius: 20px;*/
    width: 100%;
    /*box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);*/
}
.tableOfTrainings{
    width: 100%;
}
.tHead{
    background-color: #F9FAFB;
    height: 3rem;
    text-align: center;
    width: 100%;
}
.tBody{
}
.thRegular{
    text-align: left;
    padding: 1.25rem;
}
.tdRegular{
    text-align: left;
    align-items: center;
    border-bottom: 1px solid #D0D5DD;
    padding: 1rem;
}
.infoProgress{
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    width: 5rem;
    height: 2rem;
    mix-blend-mode: multiply;
    border-radius: 16px;
}