.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1rem;
}

.topButtons{
    display: flex;
    flex-direction: column;
    text-align: left;
    /*align-items: center;*/
    justify-content: left;
    margin-top: 1rem;
}
.img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.75rem
}

.bottomButtons{
    margin-top: 22rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid #D0D5DD;
}
.bottomSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.userInfo{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.imageTest{
    background-image: url("../../public/logo.png");
    background-repeat: no-repeat;
    object-fit: contain;
}
.thumbNails{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.75rem
}
.logo{
    width: 4rem;
    height: 4rem;
    margin-right: 0.75rem
}
.avatar{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 0.75rem
}