.container {
    display: flex;
    flex-direction: column;
    width: 100vh;
}

.top {
    display: flex;
    text-align: left;
    padding: 1rem;
}

.title {
    display: flex;
    text-align: left;
}