.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.topButtons {
    display: flex;
    flex-direction: column;
    text-align: left;
    /*align-items: center;*/
    justify-content: left;
    margin-top: 1rem;
    margin-right: 1rem;
}

.bottomButtons {
    /*margin-top: 22rem;*/
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: 1px solid #d0d5dd;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
}

.img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.75rem;
}

.bottomSection {
    /*margin-top: 2rem;*/
    display: flex;
    flex-direction: row;
    text-align: left;
}

.userInfo {
    min-width: 240px;
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 240px;
}

.imageTest {
    background-image: url("../../public/logo.png");
    background-repeat: no-repeat;
    object-fit: contain;
}

.thumbNails {
    width: 1.2rem;
    height: 1.2rem;
}

.thumbNailsWithText {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.75rem;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin-right: 0.75rem;
}
